<div
  class="flex flex-col items-center justify-center w-screen min-h-screen text-gray-700 p-10 bg-gradient-to-br from-pink-200 via-purple-200 to-indigo-200"
>
  <h1 class="text-6xl font-bold my-10">Hello, {{ userDetails }}</h1>

  <!-- Component Start -->
  <div
    *ngIf="currentWeather"
    class="w-full max-w-screen-sm bg-white p-10 rounded-xl ring-8 ring-white ring-opacity-40"
  >
    <div class="flex justify-between">
      <div class="flex flex-col">
        <span class="text-6xl font-bold"
          >{{ currentWeather["current"]?.temp_c }}°C</span
        >
        <span class="font-semibold mt-1 text-gray-500"
          >{{ currentWeather["location"]?.country }},
          {{ currentWeather["location"]?.name }}</span
        >
      </div>

      <img
        [src]="currentWeather['current']?.condition.icon"
        class="h-auto w-16"
      />
    </div>
  </div>
  <div
    *ngIf="forecastWeather"
    class="flex flex-col space-y-6 w-full max-w-screen-sm bg-white p-10 mt-10 rounded-xl ring-8 ring-white ring-opacity-40"
  >
    <div
      *ngFor="let forecastDay of forecastWeather['forecast']?.forecastday"
      class="flex justify-between items-center"
    >
      <span class="font-semibold text-lg w-1/4">{{
        forecastDay?.date | date : "EEE, dd MMM"
      }}</span>
      <div class="flex items-center justify-end pr-10 w-1/4">
        <span class="font-semibold">{{ forecastDay.day.avghumidity }}%</span>
        <svg
          class="w-6 h-6 fill-current ml-1"
          viewBox="0 0 16 20"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g transform="matrix(1,0,0,1,-4,-2)">
            <path
              d="M17.66,8L12.71,3.06C12.32,2.67 11.69,2.67 11.3,3.06L6.34,8C4.78,9.56 4,11.64 4,13.64C4,15.64 4.78,17.75 6.34,19.31C7.9,20.87 9.95,21.66 12,21.66C14.05,21.66 16.1,20.87 17.66,19.31C19.22,17.75 20,15.64 20,13.64C20,11.64 19.22,9.56 17.66,8ZM6,14C6.01,12 6.62,10.73 7.76,9.6L12,5.27L16.24,9.65C17.38,10.77 17.99,12 18,14C18.016,17.296 14.96,19.809 12,19.74C9.069,19.672 5.982,17.655 6,14Z"
              style="fill-rule: nonzero"
            ></path>
          </g>
        </svg>
      </div>

      <img [src]="forecastDay.day.condition.icon" />

      <span class="font-semibold text-lg w-1/4 text-right"
        >{{ forecastDay.day.mintemp_c }}° /
        {{ forecastDay.day.maxtemp_c }}°</span
      >
    </div>

    <!-- Component End  -->
  </div>
</div>
